@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

.container {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.navbar{
    display: grid;
    flex-direction: column;
    float:left;
}

.content {
    flex: 1;
    padding: 20px;
}


