<div class="min-h-screen flex mx-auto">
  <app-navbar></app-navbar>

  <div class="container flex-1">
    <h2 class="content-center pt-3 pb-1.5">Publish your idea</h2>
    <div class="container md:flex md:space-x-8">
      <form
        [formGroup]="ideaForm"
        class="bg-slate-100 shadow-lg rounded-xl p-8 mb-3 w-full md:w-1/2"
      >
        <label class="block text-lg font-medium text-gray-800 mb-2" for="title">
          Title
        </label>

        <input
          type="text"
          formControlName="title"
          class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-xl p-4 focus:ring-2 focus:ring-[#0d6efd] focus:border-transparent mb-4"
          placeholder="Insert title"
        />

        <label
          class="block text-lg font-medium text-gray-800 mb-2"
          for="description"
        >
          Description
        </label>

        <textarea
          formControlName="description"
          class="w-full bg-gray-50 border border-gray-300 textarea text-base rounded-xl p-4 focus:ring-2 focus:ring-[#0d6efd] focus:border-transparent mb-6"
          placeholder="Describe your idea (optional)"
        >
        </textarea>
      </form>

      <div class="flex-1 pl-6">
        <div class="bg-white rounded-xl shadow-md p-6">
          <div class="flex justify-between items-center pb-2">
            <h4 class="text-blue-700 font-normal text-lg">{{ author }}</h4>
            <p class="text-xs text-gray-500 right-0">
              {{ dd }}/{{ mm }}/{{ yyyy }}
            </p>
          </div>

          <h3
            class="text-xl font-bold text-gray-800 mb-3 break-words overflow-hidden"
          >
            {{ titlePreview }}
          </h3>

          <div
            class="text-gray-600 border-l-2 border-[#FF8C00] pl-3 break-words overflow-hidden"
          >
            <markdown [data]="descriptionPreview"></markdown>
          </div>

          <!-- Footer -->

          <div
            class="mt-6 flex items-center justify-between text-gray-500 flex-col sm:flex-row"
          >
            <div class="flex space-x-4">
              <button class="flex items-center space-x-1.5 group">
                <svg
                  class="w-5 h-5 text-gray-500 group-hover:text-[#FF8C00] transition-colors"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 15l7-7 7 7"
                  />
                </svg>
                <span
                  class="font-medium text-sm text-gray-600 group-hover:text-[#FF8C00] transition-colors"
                >
                  0
                </span>
              </button>

              <button class="flex items-center space-x-1.5 group">
                <svg
                  class="w-5 h-5 text-gray-500 group-hover:text-[#FF8C00] transition-colors"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  />
                </svg>
                <span
                  class="font-medium text-sm text-gray-600 group-hover:text-[#FF8C00] transition-colors"
                >
                  0
                </span>
              </button>

              <button class="flex items-center space-x-1.5 group">
                <svg
                  class="w-5 h-5 text-gray-500 group-hover:text-[#0d6efd] transition-colors"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"
                  />
                </svg>
                <span
                  class="font-medium text-sm text-gray-600 group-hover:text-[#0d6efd] transition-colors"
                >
                  0
                </span>
              </button>
            </div>

            <button
              class="px-4 py-2 bg-[#0d6efd] text-white rounded-lg hover:bg-[#0b5ed7] transition-colors"
              (click)="publishIdea()"
            >
              Publish
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
