$primary_button: #3eaeed;
$primary_button_hover: #0056b3;

$primary-orange: #FF8C00;
$primary-blue: #0d6efd;
$logout-color: #B23B3B;
$logout-color-hover: #6b1d1d;
$font-stack: Arial, sans-serif;

div.container{
    display: grid;
    float:left;
    grid-template-columns: 10% auto;
    grid-template-rows: 20% auto auto  ;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 360px;
    max-height: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.input-container{
    display: grid;
    max-height: fit-content;
    max-width: 100%;
    grid-template-columns: auto auto;
}



.idea-title-container{
    display: grid;
    max-height: fit-content;
    max-width: auto;
    grid-template-columns: auto auto;
}

img.idea{
    max-width: 32px;
    max-height: 32px;
    align-self: center;
}

input, textarea{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #f0f0f0;
}

textarea{
    width: 100%;
}

.preview-container{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #f0f0f0;
    position:relative;
    left: 125%;
    .title{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
}


@media screen and (max-width: 730px) {

    .preview-container{
        left: 0;
        top: 115%;
    }
    
}